@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>Hello, @User.Identity.Name</a></li>
        <li>@Html.ActionLink("Sign out", "SignOut", "Account")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account")</li>
    </ul>
}